#include <dt-bindings/zmk/modifiers.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&mt {
    flavor = "hold-preferred";
    quick-tap-ms = <0>;
};

&sl { release-after-ms = <250>; };

/ {
    combos {
        compatible = "zmk,combos";

        BT0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <28>;

            // layersを明示(全レイヤー=省略時と同じ)。keymap-drawerが単一キーコンボを
            // 描画する際にlayers未指定だと落ちるためのワークアラウンド。

            layers = <0 1 2 3 4 5 6>;
        };

        BT1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <28 23>;
        };

        BT2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <28 24>;
        };

        BT3 {
            bindings = <&none>;
            key-positions = <28 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        mkp_exit_AML: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl 4>;

            label = "MKP_EXIT_AML";
        };

        parenthesis: parenthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG_HANJA &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "parenthesis";
        };
    };

    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            // 追加: スクロールのタップ時間を設定 (20ms)

            tap-ms = <20>;
        };

        multi_tap_tab_bspc: behavior_multi_tap {
            label = "MT_TAB_BSPC";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp BSPC>;

            max-taps = <2>;
            max-tap-interrupt-ms = <250>;
        };

        // Command(GUI)を押しながらのときだけTabを送る。通常時はA。

        a_or_tab: a_or_tab {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp TAB>;

            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        // 左Shiftを押しながらのときだけ?を送る。通常時はlt 2 RIGHT_SHIFT。

        rshift_or_slash: rshift_or_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt 2 RIGHT_SHIFT>, <&kp QUESTION>;

            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W             &kp E         &kp R           &kp T                                                 &kp Y                        &kp U  &kp I      &kp O    &kp P
&kp A           &kp S             &kp D         &kp F           &kp G             &lt 3 ESC      &kp EQUAL            &kp H                        &kp J  &kp K      &kp L    &kp MINUS
&kp Z           &kp X             &kp C         &kp V           &kp B             &kp TAB        &lt 3 RIGHT_BRACKET  &kp N                        &kp M  &kp COMMA  &kp DOT  &rshift_or_slash
&kp LEFT_SHIFT  &kp LEFT_COMMAND  &kp LEFT_ALT  &lt 1 LEFT_ALT  &kp LEFT_COMMAND  &kp SPACE      &kp ENTER            &mt RIGHT_COMMAND BACKSPACE                             &kp SLASH
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SYMBOLS {
            bindings = <
&kp ESCAPE  &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE    &trans
&kp LCTRL   &kp DOLLAR       &kp PERCENT   &kp CARET             &kp TILDE              &trans      &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON   &kp SINGLE_QUOTE   &kp RIGHT_ARROW
&kp GRAVE   &kp EXCLAMATION  &kp C         &kp HASH              &kp AT_SIGN            &trans      &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON       &kp DOUBLE_QUOTES  &kp BACKSLASH
&trans      &trans           &trans        &trans                &trans                 &trans      &trans  &trans                                                                          &kp PIPE
            >;
        };

        NUM {
            bindings = <
&kp TAB                     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9   &kp PLUS                                                     &kp PLUS   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp F10
&kp TAB                     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6   &kp ASTERISK      &kp LC(LA(KP_NUMBER_0))      &kp ASTERISK  &kp MINUS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp F11
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3   &kp PERIOD        &kp EQUAL                    &kp SLASH     &kp EQUAL  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp F12
&trans                      &trans           &trans           &kp LEFT_COMMAND  &kp LEFT_COMMAND  &trans                       &trans        &kp KP_N0                                   &kp F13
            >;
        };

        ARROW {
            bindings = <
&kp LG(LEFT_ARROW)  &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &kp LG(RIGHT_ARROW)                      &kp LG(LEFT_ARROW)  &kp LS(LC(TAB))         &kp U           &kp LC(TAB)              &kp LG(RIGHT_ARROW)
&kp HOME            &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END              &trans      &trans  &kp HOME            &kp LEFT_ARROW          &kp DOWN_ARROW  &kp UP_ARROW             &kp RIGHT_ARROW
&kp LEFT_SHIFT      &kp LG(LC(LEFT_ARROW))  &trans          &kp LG(LC(RIGHT_ARROW))  &trans               &trans      &trans  &trans              &kp LC(LG(LEFT_ARROW))  &trans          &kp LC(LG(RIGHT_ARROW))  &trans
&trans              &trans                  &trans          &trans                   &trans               &trans      &trans  &trans                                                                               &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&to_layer_0 Q  &to_layer_0 W  &to_layer_0 E  &to_layer_0 R           &to_layer_0 T                                              &to_layer_0 Y    &to_layer_0 U      &kp LC(T)          &to_layer_0 O      &trans
&to_layer_0 A  &to_layer_0 S  &to_layer_0 D  &to_layer_0 F           &to_layer_0 G     &trans                        &kp LC(V)  &kp LC(LS(TAB))  &mkp_exit_AML MB1  &mkp_exit_AML MB2  &mkp_exit_AML MB3  &mo 5
&to_layer_0 Z  &to_layer_0 X  &to_layer_0 C  &to_layer_0 V           &to_layer_0 B     &trans                        &kp LC(C)  &to_layer_0 N    &mkp MB4           &mkp MB5           &mkp MB5           &trans
&trans         &trans         &trans         &to_layer_0 LANG_HANJA  &kp LEFT_COMMAND  &to_layer_0 LANG_HANGEUL      &trans     &trans                                                                    &mo 5
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp_exit_AML LCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                      &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
